.card-container h1 {
    background-color: #2f77c9;
    background-image: linear-gradient(to right,
            #89d8e2 0%,
            #33c7ec 0%,
            #2f77c9 21%,
            #187591 52%,
            #186cda 90%,
            #187599 100%);
    background-size: 100%;
    font-size: 2.5rem;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.description-list li {
    margin: 8px 0 8px;
}